@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: bold 20px 'Playfair Display SC', serif;
  background: #fafafa;
  color: #333;
}

main {
  min-height: 100vh;
}

header {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  h4{
      font: normal 3em 'Playfair Display SC', serif;
      text-align:center;
  }

  nav {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
  }

      .sivo{
          flex-grow: 1;
          text-align: center;
          padding: 1em;
          position: relative;
      }

      .sivo::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right:0;
          height: 2px;
          transform: scaleX(0);
          background: #333;
          
          transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
      }
      

      .sivo:hover::after{
          transform: scaleX(1);
      }



      .boja{
        flex-grow: 1;
        text-align: center;
        padding: 1em;
        position: relative;
    }

    .boja::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        height: 2px;
        transform: scaleX(0);
        background: yellow;

        transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
    }

    
    

    .boja:hover::after{
        transform: scaleX(1);
        color:yellow;


    }



 

.images {
  display: flex;
  width: 1300px;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.single-photo-color {
  width: 300px;
  height: 300px;
  align-self: stretch;
  margin: 1% 10px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(230, 255,110, 1), 0 6px 20px 0 rgba(230, 255, 110, 1);

}
.single-photo-gray {
  width: 300px;
  height: 300px;
  align-self: stretch;
  margin: 1% 10px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

